streamlit
PyPDF2==1.26.0
python-docx==0.8.11
pandas
langchain
python-dotenv==0.19.1
transformers
faiss-cpu
streamlit-chat==0.0.1
openai
boto3
argon2-cffi
trycourier
streamlit_login_auth_ui
streamlit_cookies_manager
streamlit_option_menu
streamlit_lottie
protobuf==3.20.0
dominate
htbuilder
